@import "base/_variables.scss";
@import "base/_mixins.scss";

/*==================================
FONTS
==================================*/

@import url("//hello.myfonts.net/count/310b05");

@font-face {font-family: 'baskerville-italic';src: url('../fonts/310B05_0_0.eot');src: url('../fonts/310B05_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/310B05_0_0.woff2') format('woff2'),url('../fonts/310B05_0_0.woff') format('woff'),url('../fonts/310B05_0_0.ttf') format('truetype');}
 
@font-face {font-family: 'century-gothic';src: url('../fonts/310B05_2_0.eot');src: url('../fonts/310B05_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/310B05_2_0.woff2') format('woff2'),url('../fonts/310B05_2_0.woff') format('woff'),url('../fonts/310B05_2_0.ttf') format('truetype');}
  
@font-face {font-family: 'century-gothic-bold';src: url('../fonts/310B05_1_0.eot');src: url('../fonts/310B05_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/310B05_1_0.woff2') format('woff2'),url('../fonts/310B05_1_0.woff') format('woff'),url('../fonts/310B05_1_0.ttf') format('truetype');}

@font-face {font-family: 'perpetua';src: url('../fonts/310B05_4_0.eot');src: url('../fonts/310B05_4_0.eot?#iefix') format('embedded-opentype'),url('../fonts/310B05_4_0.woff2') format('woff2'),url('../fonts/310B05_4_0.woff') format('woff'),url('../fonts/310B05_4_0.ttf') format('truetype');}

@font-face {font-family: 'perpetua-mt';src: url('../fonts/310B05_3_0.eot');src: url('../fonts/310B05_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/310B05_3_0.woff2') format('woff2'),url('../fonts/310B05_3_0.woff') format('woff'),url('../fonts/310B05_3_0.ttf') format('truetype');}
  
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p {
	@include perpetua();
	font-size: 18px;
	line-height: 26px;
}

body {
	background-color: $white;
    overflow-x: hidden;
}

p {
	margin-bottom: 20px;
}

h1 {
	font-size: 30px;
    line-height: 35px;
    font-weight: 300;
    color: inherit;
    @include perpetua-mt;

    @include mobile_landscape {
        font-size: 23px;
        line-height: 30px;
    }
}

h2 {
	@include perpetua-mt;
	font-size: 24px;
	line-height: 27px;
}

h3 {
	text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 0.5em;
    @include century_gothic_bold;
}

p, h1, h2, h3 {
	margin: 0px 0px 20px;
}

a, a:visited, a:active, a:focus {
	color: $black;
	text-decoration: none;
	outline: 0;
}

a {
	transition: opacity .2s ease-in-out;
}

/*==================================
HELPERS
==================================*/

/*=== Alignment ===*/

.center {
    text-align: center;
}

/*=== Colors ===*/

.white {
    color: $white;
}

/*==================================
COMPONENTS
==================================*/

/*=== Lists ===*/

ul, ol {
	margin: 0px;
	padding: 0px 20px;
}

/*=== Social Icon List ===*/

ul.social {
    list-style: none;
}

ul.social li {
    display: inline-block;
    padding-right: 10px;

    a {
        font-size: 15px;
    }
}

/*==================================
STRUCTURE
==================================*/

.container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    padding: 0px 20px;
}

.page_content_container {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
    padding: 150px 20px;

    @include tablet {
        padding: 50px 20px;
    }
}

.page_content_container h1 {
    padding: 0px 130px;

    @include tablet {
        padding: 0px;
    }
}

/*==================================
HEADER
==================================*/

.site_header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 30px;
    z-index: 11;
    transition: all .3s ease-in-out;

    &.scrolled {
        background: $white;
    }

    @include tablet {
        display: none;
    }
}

/*=== Logo ===*/

a.logo_image {
    width: 107px;
    display: block;

    img {
        display: block;
        width: 100%;
    }
}

.site_header ul.films_music {
    position: absolute;
    top: 20px;
    left: 0px;
    opacity: 0;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    transition: all .3s ease-in-out;

    &.visible {
        left: 150px;
        opacity: 1;
    }
}

.site_header ul.films_music li {
    margin: 0 20px;
}

/*=== Fixed Navigation ===*/

nav.main_navigation ul {
    list-style: none;
}

nav.main_navigation ul li {
    display: inline-block;
    padding: 0px 10px;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 0.5em;
    cursor: pointer;
    @include century_gothic_bold;
}

/*=== Connect Social ===*/

nav.main_navigation li.connect {
    position: relative;
    padding-right: 0px;
    transition: padding .5s ease-in-out;
}

.connect_text {
    opacity: 1;
    transition: all .3s ease-in-out;
}

li.connect .social {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px -150px 0px 0px;
    opacity: 0;
    transition: all .3s ease-in-out;
}

/*=== Connect Social Active Transition ===*/

nav.main_navigation li.connect.active {
    padding-right: 100px;
}

li.connect.active .connect_text {
    opacity: 0;
}

li.connect.active .social {
    opacity: 1;
}

/*==================================
MOBILE HEADER
==================================*/

.mobile_header {
    position: fixed;
    top: 0;
    display: none;
    width: 100%;
    height: 70px;
    z-index: 11;
    background: white;
    transition: all .3s ease-in-out;

    @include tablet {
        display: flex;
        align-items: center;
    }
}

/*=== Styling for mobile header when navigation menu appears ===*/

.mobile_header_container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-flow: row;
}

/*=== Logo ===*/

.mobile_logo_container {
    width: 100px;
    margin: 0 auto;
}

.mobile_logo_container img {
    width: 100%;
    display: block;
}

/*=== CSS Menu Icon ===*/

.menu_icon {
    position: absolute;
    right: 20px;
    top: 28px;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    height: 15px;
    width: 25px;
    cursor: pointer;   
}

.menu_icon:before {
    content: "";
    width: 100%;
    border-bottom: 1px solid $black;
    position: absolute;
    top: 6px;
}

/*==================================
MOBILE NAVIGATION (Fullscreen mobile overlay)
==================================*/

.mobile_navigation {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: white;
    z-index: 20;
    display: none;
}

.mobile_navigation.mobile_header {
    position: relative;
}

/*=== Header within the overlay ===*/

.close_menu_icon {
  position: absolute;
  right: 20px;
  top: 23px;
  width: 23px;
  height: 23px;
  overflow: hidden;
  cursor: pointer;
}

.close_menu_icon::before, .close_menu_icon::after  {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #000;
}

.close_menu_icon::before {
    transform: rotate(45deg);
}

.close_menu_icon::after {
    transform: rotate(-45deg);
}

/*=== Mobile Vertical Navigation List ===*/

.mobile_navigation .content_container {
    position: absolute;
    top: 0;
    z-index: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.mobile_menu {
    padding: 0px;
    margin: 0px 0px 30px;

    @media all and (max-device-width: 736px) and (orientation: landscape) {
        margin: 0px 0px 5px;
    }
}

.mobile_menu li {
    text-align: center;
    padding-bottom: 20px;
    list-style-type: none;
    font-size: 40px;

    @media all and (max-device-width: 736px) and (orientation: landscape) {
        padding-bottom: 5px;
        font-size: 15px;
    }
}

.mobile_menu li a {
    text-transform: uppercase;
    font-family: 'perpetua-mt', helvetica, sans-serif;
    color: black;
    text-decoration: none;
}

.mobile_navigation .social {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.mobile_navigation .social a {
    color: black;
    padding: 0px 10px;
    font-size: 20px;

    @media all and (max-device-width: 736px) and (orientation: landscape) {
        padding: 0px 5px;
        font-size: 10px;
        margin-bottom: 20px;
    }
}

ul.music_films_container {
    list-style-type: none;
    margin: 0;
    position: relative;
    text-align: center;
    padding: 0;
    margin-bottom: 0px;
}

ul.music_films_container li {
    display: inline-block;
}

ul.music_films_container li a {
    display: inline-block;
    font-family: 'perpetua-mt', helvetica, sans-serif;
    text-decoration: none;
    color: $black;
    font-size: 18px;
    padding: 0px 10px;

    @media all and (max-device-width: 736px) and (orientation: landscape) {
        font-size: 15px;
    }
}

/*==================================
HOMEPAGE
==================================*/

.main_banner {
    background: $grey;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_banner .featured_gif {
    max-width: 400px;
    width: 80%;

    @media all and (max-device-width: 736px) and (orientation: landscape) {
        width: 100px;
    }

    img {
        display: block;
        width: 100%;
    }
}

.main_banner .down_arrow {
    position: absolute;
    bottom: 10px;
    left: 0%;
    width: 100%;
    text-align: center;

    i {
        font-size: 50px;
    }
}

/*========================
CAMPAIGN GRID
========================*/

.campaign_grid_item {
    width: 32%;
    margin-bottom: 2.3%;
    opacity: 0;
    display: block;
    cursor: pointer;
    overflow: hidden;

    img:first-child {
        display: block;
        width: 100%;
        transition: all .2s ease-in-out;
    }

    @include tablet {
        width: 48%;
    }

    @include mobile_landscape {
        width: 100%;
    }
}

.campaign_grid_sizer {
    width: 32%;

    @include tablet {
        width: 48%;
    }

    @include mobile_landscape {
        width: 100%;
    }
}

.campaign_grid_gutter {
    width: 2%;
}

/*=== Hover Overlay and Elements Within the Overlay ===*/

.campaign_grid_overlay {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity .3s ease-in-out;
}

.campaign_grid_overlay:before {
    @include overlay(rgba($black,.3));
}

.campaign_logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo_container {
        padding: 0px 17px;
    }
}

.campaign_grid_item:hover .campaign_grid_overlay {
    opacity: 1;
}

/*=== Geofilter Zoom Hover Effect ===*/

a.campaign_grid_item.geofilter:hover img.campaign_thumb {
    transform: scale(1.1);
}

/*=== Load More ===*/

.page_content .alm-load-more-btn {
    font-size: 1.2em;
    font-weight: 300;
    color: $black;
    background: transparent;
    font-size: 20px;
    height: auto;
    line-height: 20px;
    @include baskerville-italic;

    &:after {
        content: "•••";
        display: block;
        font-size: 10px;
    }
}

.page_content .alm-load-more-btn:hover, .page_content .alm-load-more-btn.loading, .page_content .alm-load-more-btn.done {
    background: transparent;
    color: $black;
    outline: 0;
}

.page_content .alm-load-more-btn:focus {
    outline: 0;
}

.page_content .alm-load-more-btn:active {
    outline: 0;
    box-shadow: none;
}

.page_content .alm-load-more-btn.loading {
    padding-left: 20px;

    &:before {
        display: none;
    }
}

/*========================
CLIENTS
========================*/

section#clients {
    background: url('../img/clients-bg.jpg');
    color: white;
    padding: 100px 0px;

    h1 {
        margin-bottom: 50px;
    }
}

ul.client_list {
    list-style: none;
    column-count: 3;
    text-align: center;

    @include mobile_landscape {
        column-count: 2;
    }

    @include mobile {
        column-count: 1;
    }
}

ul.client_list li {
    text-transform: uppercase;
    letter-spacing: .06em;
    line-height: 35px;
    color: $grey;
}

/*========================
CAMPAIGN LIGHTBOX
========================*/

.lightbox {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    top: 0;
    background: black;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0;
    z-index: -10;
    transition: opacity .2s ease-in-out, z-index 0s .5s;

    @include tablet {
        overflow-y: scroll;
        padding: 30px;
    }
}

.lightbox.open {
    opacity: 1;
    z-index: 11;
    transition: opacity .2s ease-in-out;
}

.lightbox section {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;

    &.with_padding {
        padding: 0px 50px;

        @include tablet {
            padding: 0px;
        }
    }

    @include tablet {
        width: 100%;
        justify-content: initial;
    }
}

/*=== Title ===*/

.title_panel {
    @include tablet {
        margin-bottom: 20px;
    }
}

.title_panel h1 {
    margin-bottom: 3px;
}

.title_panel p {
    @include baskerville-italic;
    margin-bottom: 0px;
}

/*=== Video ===*/

.video_container {
    position: relative;
}

.video_controls {
    position: absolute;
    font-size: 30px;
    top: 48%;
    left: 48%;
    cursor: pointer;
    opacity: 1;
    transition: opacity .2s ease-in-out;

    &.hide {
        opacity: 0;
    }

    @include tablet {
        display: none;
    }
}

.video_controls .fa {
    position: absolute;
    transition: opacity .2s ease-in-out;
}

.fa-pause {
    opacity: 0;
}

.video_controls.playing {
    .fa-play {
        opacity: 0;
    }
    .fa-pause {
        opacity: 1;
    }
}

.media_panel video {
    width: 100%;
}

/*=== Flexslider ===*/

.flexslider.campaign_slider {
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    background: 0;

    @include tablet {
        margin-bottom: 30px;
    }
}

.campaign_slider ul.slides {
    height: 100% !important;
    width: 100%;

    li {
        width: 100%;
        height: 100%;   
        display: flex !important;
        align-items: center;
    }
}

.campaign_slider ul.slides img {
    height: auto !important;
    width: 100% !important;
    position: relative !important;
}

.campaign_slider .flex-control-nav {
    width: 100%;
    z-index: 10;
    bottom: 0;

    li {
        padding: 0px;
    }

    @include tablet {
        bottom: 30px;
    }
}

.campaign_slider .flex-control-paging li a {
    background: transparent;
    border: 2px solid $white;

    &:hover, &.flex-active {
        background: $white;
    }
}

/*=== Close Icon ===*/

.close_icon {
  position: absolute;
  right: 50px;
  top: 50px;
  display: inline-block;
  width: 23px;
  height: 23px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    &::before, &::after {
      background: $white;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: $white;
    backface-visibility: hidden;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  @include tablet {
    right: 15px;
    top: 10px;
  }
}

/*=== Details ===*/

.details_info {
    border-bottom: 1px solid white;
    padding-bottom: 30px;
    margin-bottom: 50px;

    h3 {
        margin-bottom: 0px;
    }

    p {
        text-transform: uppercase;
        font-size: 15px;
        line-height: 20px;
        @include perpetua-mt;
    }

    &.no_excerpt {
        border-bottom: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}

/*========================
FOOTER
========================*/

.footer {
    color: $white;
    width: 100%;
    padding: 100px 0px 30px;
    background: $black;
    font-size: 11px;
    letter-spacing: .2em;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase;
    @include century_gothic();

    @include tablet {
        padding: 50px 0px;
    }
}

.footer .container {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.footer a {
    color: $white;
}

/*=== This Is MATTE ===*/

.this_is_matte {
  width: 35%;

  @include tablet {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

.this_is_matte span {
    margin-right: 10px;
}

.this_is_matte ul.films_music a {
    opacity: .7;
    transition: all .2s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

ul.films_music {
    display: inline-block;
    list-style: none;
    @include century_gothic();

    li {
        display: inline-block;
        margin: 0px 10px;
    }
}

/*=== Email Subscribe ===*/

.email_subscribe{
  width: 35%;

  @include tablet {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

.mc-field-group label {
    padding-right: 10px;
    height: 20px;
    display: inline-block;
}

input#mce-EMAIL {
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    border-radius: 0;
    border-bottom: 1px solid white;
    width: 53%;
    display: inline-block;
    height: 17px;
    vertical-align: top;
}

input#mce-EMAIL:focus {
    outline: 0;
}

input#mc-embedded-subscribe {
    display: none;
}

/*=== Contact Info ===*/

.footer_contact {
  width: 20%;

  @include tablet {
    width: 100%;
    text-align: center;
  }
}

.footer .social {
    margin-bottom: 20px;
}