/*================
FONTS
================*/

@mixin effra($fontweight) {
	font-family: 'effra', sans-serif;
	font-weight: $fontweight;
}

@mixin century_gothic() {
	font-family: 'century-gothic', sans-serif;
}

@mixin century_gothic_bold() {
	font-family: 'century-gothic-bold', helvetica, sans-serif;
}

@mixin perpetua() {
	font-family: 'perpetua', serif;
}

@mixin perpetua-mt() {
	font-family: 'perpetua-mt', serif;
}

@mixin baskerville-italic() {
	font-family: 'baskerville-italic', garamond, serif;
}

/*================
MEDIA QUERIES
================*/

@mixin mobile() {
	@media all and (max-width: 480px){
		@content;
	}
}

@mixin mobile_landscape() {
	@media all and (max-width: 568px) {
		@content;
	}
}

@mixin tablet() {
	@media all and (max-width: 768px){
		@content;
	}
}

@mixin tablet_landscape() {
	@media all and (max-width: 1024px){
		@content;
	}
}

@mixin desktop() {
	@media all and (min-width: 1280px){
		@content;
	}
}

/*================
OVERLAY
================*/

@mixin overlay($background) {
  content: "";
  position: absolute;
  background: $background;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}